@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/3422326.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.container h1 {
    text-align: center;
    margin-bottom: 36px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-bottom: 20px;
}
.input-box input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    color: #fff;
    font-size: 16px;
}
.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 100%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}
.remember-password {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.remember-password label input {
    accent-color: #fff;
    margin-right: 5px;
}
.remember-password a {
    color: #fff;
    text-decoration: none;
}

.remember-password a:hover {
    text-decoration: underline;
}
.login {
    width: 100%;
    height: 50px;
    border: none;
    background: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.login:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    transition: 0.2s;
}
.register-link {
    text-decoration: none;
    text-align: center;
    margin: 20px 0px 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
