@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/3422326.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.container h1 {
    text-align: center;
    margin-bottom: 36px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-bottom: 20px;
}
.input-box input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    color: #fff;
    font-size: 16px;
}
.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 100%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}
.remember-password {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.remember-password label input {
    accent-color: #fff;
    margin-right: 5px;
}
.remember-password a {
    color: #fff;
    text-decoration: none;
}

.remember-password a:hover {
    text-decoration: underline;
}
.login {
    width: 100%;
    height: 50px;
    border: none;
    background: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.login:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    transition: 0.2s;
}
.register-link {
    text-decoration: none;
    text-align: center;
    margin: 20px 0px 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-info {
    width: 100%;
    height: 50px;
    border: none;
    background: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.register-info:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    transition: 0.2s;
}
.register {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.register:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #615ddb;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.register span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}

.register svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.register:hover:before {
  width: 100%;
  background: #615ddb;
}

.register:hover svg {
  transform: translateX(0);
}

.register:active {
  transform: scale(0.80);
}



.register input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 500;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.register input:focus {
  border: 2px solid var(--input-focus);
}